.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #ccc;
    border-bottom-color: #3498db;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: 20px auto;
}

.hidden {
    display: none;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    } }

        


.form{
    width: 371px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 32px;
}

input{
    width: 272px;
    height: 40px;
    padding-left: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #808080;
    border-radius: 4px;
    border: 1px solid #808080;
    outline: none;
}

input:hover{
    border: 1px solid #4e75ff;
}

placeholder{
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #808080;
}

button{
    border-radius: 8px;
    width: 91px;
    height: 40px;
    background-color: #4e75ff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    outline: none;
    border: transparent;
}

button:hover{
    background-color: #6c8cff;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    list-style: none;
    margin-bottom: 50px;
}

.gallery-item {
    padding: 0;
    margin: 0;
}

.gallery-foto {
    background: #fff;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
}

.gallery-foto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-top: none;
    background: white;
    border-radius: 0 0 8px 8px;
}

.gallery-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: #333;
}

.gallery-label {
    font-weight: 600;
    color: #555;
}

.gallery-value {
    font-weight: 400;
    color: #000;
    margin-top: 2px;
}

button .load-more{
    border-radius: 8px;
        width: 91px;
        height: 40px;
        background-color: #4e75ff;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        margin: 0 auto;
}









